



.menu-head{
	display: inline-block;
	padding: 0.5rem;
}

.card-template1 {
/*	display: flex;*/
	flex-direction: row;
}

.card-img-left{
	width: 25%;
}

img {
	width: 100%;
}

@media (max-width: 576px) {
	.menu-head: {
		text-align: center;
	}
	.card-template1 {
		flex-direction: column;
	}

	.card-img-left {
		width: 100%;
	}
	.card-body {
		width: 100%
	}
}
.card-body{
	width: 75%
}